<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Goals</title>
    <link rel="stylesheet" href="../static/course_goals.css">
</head>

<body>
    <h2>
        <%= title %>
    </h2>
    <form action="/add-goal" method="POST">
        <input class="box" type="text" name="new-goal">
        <button class="box" type="submit">Add Goal</button>
    </form>
    <ul>
        <% for (let i=0; i < goals.length; i++) {%>
            <li>
                <%= goals[i].name %>
            </li>
            <% } %>
    </ul>
</body>

</html>